/* styles.css */

/* New styles for the tabs container */
#TabsContainer {
    background-color: #060000;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#TabsContainer h1 {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.tab-button.active {
    background-color: #0056b3;
}

/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1e5e5ef; /* Light gray background color */
    /* Uncomment below line if you want to use an image */
    /* background-image: url('../images/cloud.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Container styles */
.container {
    max-width: 892px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #555;
    text-align: center;
}

h2 {
    text-align: center;
}

/* Graph styles */
.graph-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.graph {
    width: 100%;
    height: 400px;
}

/* Form styles */
/* New styles for the form input fields */
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.input-small {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* flex: 0 0 calc(50% - 20px); */ /* Remove this line */
    /* max-width: calc(50% - 20px); */ /* Remove this line */
    width: 30%; /* Add this line */
}

/* Adjust the width of input[type="date"] to 30% to make room for the submit button */
input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;/* Styles for different types of alert boxes */
    .error {
        background-color: #dc3545;
        color: #fff;
    }
    
    .success {
        background-color: #28a745;
        color: #fff;
    }
    
    .warning {
        background-color: #ffc107;
        color: #333;
    }
    
    .info {
        background-color: #007bff;
        color: #fff;
    }
    
    /* Icon for alert boxes */
    .alert i {
        margin-right: 10px;
    }
    
    .alert i, .alert-title, .alert-message {
        display: inline-block;
        vertical-align: middle;
    }
    
    /* Icon colors for different types of alert boxes */
    .error i {
        color: #fff;
    }
    
    .success i {
        color: #fff;
    }
    
    .warning i {
        color: #333;
    }
    
    .info i {
        color: #fff;
    }
    
    /* Spacing between icon and message */
    .alert i {
        margin-right: 10px;
    }
    
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

